*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    height: 250px;

}